extends layout

block content
  h1= title
  p Welcome to #{title}
  p Qori (氷) 2024 新卒勉強会
  h2 Postman API Docs
  .postman-run-button(data-postman-action='collection/fork' data-postman-visibility='public' data-postman-var-1='18308774-0a88bde2-2f8c-4534-814e-f52f1fbc24a3' data-postman-collection-url='entityId=18308774-0a88bde2-2f8c-4534-814e-f52f1fbc24a3&entityType=collection&workspaceId=8c6c9ae8-5eff-4a01-a509-d250ac7237bb' data-postman-param='env%5BExpress%20Test%5D=W3sia2V5IjoiSE9TVCIsInZhbHVlIjoiaHR0cHM6Ly9leHByZXNzLXNlcnZlci1leGFtcGxlLWRmMWUub25yZW5kZXIuY29tIiwiZW5hYmxlZCI6dHJ1ZSwidHlwZSI6ImRlZmF1bHQifV0=')
  script(type='text/javascript').
    (function (p,o,s,t,m,a,n) {
    !p[s] && (p[s] = function () { (p[t] || (p[t] = [])).push(arguments); });
    !o.getElementById(s+t) && o.getElementsByTagName("head")[0].appendChild((
    (n = o.createElement("script")),
    (n.id = s+t), (n.async = 1), (n.src = m), n
    ));
    }(window, document, "_pm", "PostmanRunObject", "https://run.pstmn.io/button.js"));
